.custom-button {
  max-width: 200px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 25px 0 25px;
  font-size: 15px;
  background-color: #009688;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: #009688;
    border: 1px solid #009688;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    margin-top: 10px;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: #009688;
    border: 1px solid #009688;

    &:hover {
      background-color: #009688;
      color: white;
      border: none;
    }
  }
}
