.cart-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 15px;
    right: 15px;
  }
}
