.cart-icon {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 30px;
    right: -5px;
  }
}
