.navbar-fixed {
  .nav-wrapper {
    padding: 0 1em;
  }

  .click {
    cursor: pointer;
  }
}

.sidenav .user-view .background {
  opacity: 0.3;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav .brand-logo {
  font-size: 1.5rem;
}
