@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

img {
  max-height: 100%;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.row {
  margin-bottom: 0px;
}

.row .col {
  padding: 0 0.5rem;
}
